<?php
return [
    'dependencies' => [
        'factories' => [
            \MiddlewareLogger\LoggerPluginManager::class => \MiddlewareLogger\LoggerPluginManagerFactory::class,
            \MiddlewareLogger\Error\ErrorLogMiddleware::class => \MiddlewareLogger\Error\ErrorLogMiddlewareFactory::class,
            'LogProcessorManager' => \MiddlewareLogger\Processor\ProcessorPluginManagerFactory::class,
            'LogWriterManager' => \MiddlewareLogger\Writer\WriterPluginManagerFactory::class,
            'LogFilterManager' => \MiddlewareLogger\Filter\FilterPluginManagerFactory::class,
            'LogFormatterManager' => \MiddlewareLogger\Formatter\FormatterPluginManagerFactory::class

        ],
    ],
    'pluginmanager-logger-factory-config' => [
        'abstract_factories' => [
            \Zend\Log\LoggerAbstractServiceFactory::class
        ]
    ],
];